<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michelin Gourmet Selections</title>
</head>
<body>
    <h1>맛집 공유 사이트 built with Django</h1>
    <h2>카테고리</h2>
    <a href="{% url 'michelin:new_category' %}">카테고리 추가하기</a>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li>{{ category.name }}
            <a href="{% url 'michelin:show_restaurants' category.id %}">상세 보기</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>카테고리 없음</p>
    {% endif %}
</body>
</html>