<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 카테고리 생성</title>
</head>
<body>
    <h1>새 카테고리 생성하기</h1>
    <form action="{% url 'michelin:create_category' %}" method="POST">
        <label for="name">카테고리 이름:</label>
        <input type="text" name="name" id="name">
        <button type="submit">생성!</button>
    </form>
</body>
</html>