<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }}</title>
</head>
<body>
    <h1>{{ category.name }}에 대한 맛집 목록</h1>
    <a href="{% url 'michelin:new_restaurant' category.id %}">맛집 추가하러 가기</a>
    {% if restaurants %}
    <ol>
        {% for restaurant in restaurants %}
        <li>{{ restaurant.name }}</li>
        {% endfor %}
    </ol>
    {% else %}
    <p>아직 맛집이 없어요!</p>
    {% endif %}
</body>
</html>